@charset "utf-8";

#partnership{margin-top: -70px;}
#partnership .wrap{width: 1200px; padding: 0 100px 40px; margin: 0 auto;}
#partnership .wrap article{width: 100%;}
#partnership .wrap article .title{text-align: center; padding: 0 10px 40px;}
#partnership .wrap article .title h2{font-size: 24px; color: #5c5c5c; font-weight: normal; line-height: 20px;}


#partnership .wrap article:nth-child(1) .text_part{padding: 0 10px 40px;}
#partnership .wrap article:nth-child(1) .text_part p{font-size: 14px; color: #5c5c5c; line-height: 1.2;}
#partnership .wrap article:nth-child(1) .text_part p:nth-child(2){padding: 20px 0;}

#partnership .wrap article:nth-child(1) .img_part{padding-bottom: 60px; font-size: 0;}
#partnership .wrap article:nth-child(1) .img_part .box{display: inline-block; width: calc(50% - 20px); height: 310px; padding: 30px; border: 1px solid #5e889e; border-radius: 4px; margin: 0 10px; position: relative; vertical-align: top;}
#partnership .wrap article:nth-child(1) .img_part .box h3{font-size: 18px; color: #5e889a; line-height: 15px; font-weight: bold; padding-bottom: 20px;}
#partnership .wrap article:nth-child(1) .img_part .box h3 span{font-size: 24px;}
#partnership .wrap article:nth-child(1) .img_part .box p{font-size: 14px; color: #5c5c5c; font-weight: bold; line-height: 1.2;}
#partnership .wrap article:nth-child(1) .img_part .box a{display: inline-block; font-size: 16px;  color: #fff; height: 40px; width: 250px; background-color: #5e889e; border-radius: 4px; text-align: center; line-height: 40px; position: absolute; left: 30px; bottom: 30px; font-weight: bold;}
#partnership .wrap article:nth-child(1) .img_part .box img{display: block; height: 141px; position: absolute; right: 10px; bottom: 0;}


#partnership .wrap article:nth-child(2) .title h2 span{font-weight: bold;}

#partnership .wrap article:nth-child(2) .representative{padding: 0 100px;}
#partnership .wrap article:nth-child(2) .representative ul{font-size: 0;}
#partnership .wrap article:nth-child(2) .representative ul li{display: inline-block; padding: 0 10px 20px;}
#partnership .wrap article:nth-child(2) .representative ul li:nth-child(9){padding-bottom: 0;}
#partnership .wrap article:nth-child(2) .representative ul li:nth-child(10){padding-bottom: 0;}
#partnership .wrap article:nth-child(2) .representative ul li a{display: block;}
#partnership .wrap article:nth-child(2) .representative ul li a img{width: 180px; height: 100px;}